*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pato{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    height: 100vh;
    gap: 100px;
    background-color: lightblue;
    justify-content: space;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    font-size: 48px;
    border: 10px solid white;
    width: 200px;
    height: 200px;
    font-size: 40px;
    flex-direction: column;
}
body{
    justify-content: center;
    align-items: center;
    display:flex;
    height: 100vh;
    flex-direction: column;
}
h1{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self:center;
    font-size: 100px
}
img{
    width: 100%;
}