*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 100px;
    font-weight: 100;
}
.pato {
    font-size: 48px;
    font-weight: 100;
    font-style: italic;
    text-align: right;
    width: 800px;
    
}